@*(c) 2020 Manabu Tonosaki
    Licensed under the MIT license.*@

@model WebInvestigation.Models.StorageModel

@if (Model.TableResult != null)
{
    <style>
        table th, table td {
            border: solid 1px #ccc;
            font-size: small;
            font-family: Courier New, Courier, monospace;
            font-weight: normal;
            color: black;
            vertical-align: top;
            padding-left: 4px;
            padding-right: 4px;
        }

        table th {
            color: #cc6400;
            background: #fff5e5;
        }

        table {
            margin-top: 8px;
        }
    </style>
    <table>
        @for (var r = 0; r < Model.TableResult.Count; r++)
        {
            var row = Model.TableResult[r];
            <tr>
                @foreach (var cell in row)
                {
                    if (r < 1)
                    {
                        <th>@cell</th>
                    }
                    else
                    {
                        <td>@cell</td>
                    }
                }
            </tr>
        }
    </table>
}
